
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">    <meta http-equiv="x-dns-prefetch-control" content="on">    <link rel="dns-prefetch" href="//cdn.bootcss.com" />
    <link rel="dns-prefetch" href="//secure.gravatar.com" />    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>枫铃博客</title>
    <meta name="keywords" content="typecho,php,blog,枫铃,枫铃也,fengling,FengLing" />
    <meta name="description" content="一个不爱在博客写注释的小新码农" />
    <link href="//cdn.bootcss.com/highlight.js/9.10.0/styles/xcode.min.css" rel="stylesheet">
    <link href="https://fengling.site/usr/themes/pinghsu-master/style.min.css?20170331" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .beian > a {
            color: #6881b2eb !important;
        }

        .beian > a:hover {
            color: #F00 !important;
        }

        ::-webkit-scrollbar {
            width: 0px;
        }
    </style>
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="https://fengling.site/" class="navbar-logo">
            枫铃博客                    </a>
        <div class="navbar-menu">

            <a href="https://fengling.site/index.php/archives.html">归档</a>

            <a href="https://fengling.site/index.php/categorys.html">分类</a>

        </div>
        <a href="https://fengling.site/index.php/search.html" class="navbar-search">
            <span class="icon-search"></span>
        </a>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>

                <li><a href="https://fengling.site/index.php/archives.html">归档</a></li>

                <li><a href="https://fengling.site/index.php/categorys.html">分类</a></li>

            </ul>
        </div>
    </div>
</header>
<div class="main-content index-page clearfix ">
    <div class="post-lists">
        <div class="post-lists-body">
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-yellow" style="background-image:url(https://fengling.site/usr/uploads/2019/11/1953212305.png);"></div>
                    <a href="https://fengling.site/index.php/operations/29">
                        <div class="item-desc">
                            <p>清理环境1.检查是否安装了MySQLrpm -qa | grep mysql

                                ## 卸载已经安装的MySQL
                                yum remove mysql...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-green"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/operations/29">CentOS 8 在线安装MySQL 8</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-chat" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/operations/">运维</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-red" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/3.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/13">
                        <div class="item-desc">
                            <p>DO（ Data Object）：与数据库表结构一一对应，通过DAO层向上传输数据源对象。DTO（ Data Transfer Object）：...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-green"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/13">阿里巴巴Java开发手册中的DO、DTO、BO、AO、VO、POJO定义</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-code" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-purple" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/2.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/Java/12">
                        <div class="item-desc">
                            <p>import java.text.SimpleDateFormat;
                                import java.util.Calendar;
                                import jav...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-purple"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/Java/12">日期工具类</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-link" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/Java/">Java</a><a href="https://fengling.site/index.php/category/Android/">Android</a><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-purple" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/1.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/Java/11">
                        <div class="item-desc">
                            <p>Spring IO platform:用于系统部署，是可集成的，构建现代化应用的版本平台，具体来说当你使用maven dependency引入s...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-yellow"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/Java/11">Spring的顶级项目列表</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-chat" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/Java/">Java</a><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-yellow" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/7.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/Java/10">
                        <div class="item-desc">
                            <p>将一个对象集合中的某一个字段取出来生成一个新的集合List&lt;Store&gt; storeList = storeService.list...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-red"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/Java/10">Java 8 的一些集合操作</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-image" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/Java/">Java</a><a href="https://fengling.site/index.php/category/Android/">Android</a><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-orange" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/8.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/9">
                        <div class="item-desc">
                            <p>注：基于SonarLint 官方网址： SonarLint特殊记录HashMap的大小应该为目标大小/加载因子且为2^n 向上取整HashMap...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-blue"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/9">日常开发规范</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-note" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-green" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/2.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/8">
                        <div class="item-desc">
                            <p>本篇内容将记录一些日常开发中的一些Bug出现情况和解决方案，长期更新SpringMVC报错：如果刚刚写了一个Controller，那记得在Con...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-yellow"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/8">日常开发Bug集锦</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-code" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-red" style="background-image:url(https://fengling.site/usr/themes/pinghsu-master/images/thumbs/0.jpg);"></div>
                    <a href="https://fengling.site/index.php/develop/Java/7">
                        <div class="item-desc">
                            <p>在实际开发中经常需要使用到Map，但给Map一个怎样的初始容量比较合理？众所周知是最接近(要大于)数据长度的2的N次方那么，如何计算？欢迎指出错...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-yellow"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/Java/7">计算Map初始容量算法</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-game" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/Java/">Java</a><a href="https://fengling.site/index.php/category/Android/">Android</a><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-green" style="background-image:url(https://img-blog.csdnimg.cn/20191010170130722.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzE4ODc4NDU1,size_16,color_FFFFFF,t_70);"></div>
                    <a href="https://fengling.site/index.php/develop/Java/6">
                        <div class="item-desc">
                            <p>带单位转换的我只将数字范围定在十万以内的正数并且没考虑 0需要向上调整范围的童鞋自己修改代码呦欢迎指出错误先看效果再看代码不多说屁话上代码/**...</p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant  bg-purple"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="https://fengling.site/index.php/develop/Java/6">Java阿拉伯数字转中文数字</a></div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-link" style="background: url(https://fengling.site/usr/themes/pinghsu-master/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat"><a href="https://fengling.site/index.php/category/Java/">Java</a><a href="https://fengling.site/index.php/category/Android/">Android</a><a href="https://fengling.site/index.php/category/develop/">开发</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lists-navigator clearfix">
        <ol class="page-navigator"><li class="current"><a href="https://fengling.site/index.php/page/1/">1</a></li><li><a href="https://fengling.site/index.php/page/2/">2</a></li><li class="next"><a href="https://fengling.site/index.php/page/2/">→</a></li></ol>  </div>
</div>


<footer id="footer" class="footer ">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
                <a class="social rss" target="blank" href="https://fengling.site/feed/">RSS</a>
                <a class="social github" target="blank" href="https://github.com/dotdotmaples">GITHUB</a>
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <h3 class="meta-title">
                        <a href="https://fengling.site/" class="info-logo">
                            枫铃博客	                        	                    </a>
                    </h3>
                    <div class="info-text">
                        <p>枫铃博客 &copy; 2019-2019</p>
                        <p class="beian"><a href="http://www.beian.miit.gov.cn/">赣ICP备19013614号-1</a></p>
                        <br/>
                        <p>Powered by <a href="http://www.typecho.org" target="_blank" rel="nofollow">Typecho</a></p>
                        <p>Theme is <a href="https://github.com/chakhsu/pinghsu" target="_blank">Pinghsu</a> by <a href="https://www.linpx.com/" target="_blank">Chakhsu</a></p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">最新文章</h3>
                <li><a href="https://fengling.site/index.php/operations/29">CentOS 8 在线安装MySQL 8</a></li><li><a href="https://fengling.site/index.php/develop/13">阿里巴巴Java开发手册中的DO、DTO、BO、AO、VO、POJO定义</a></li><li><a href="https://fengling.site/index.php/develop/Java/12">日期工具类</a></li><li><a href="https://fengling.site/index.php/develop/Java/11">Spring的顶级项目列表</a></li><li><a href="https://fengling.site/index.php/develop/Java/10">Java 8 的一些集合操作</a></li><li><a href="https://fengling.site/index.php/develop/9">日常开发规范</a></li><li><a href="https://fengling.site/index.php/develop/8">日常开发Bug集锦</a></li><li><a href="https://fengling.site/index.php/develop/Java/7">计算Map初始容量算法</a></li>			</div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">最新评论</h3>
                <li><a href="https://fengling.site/index.php/{permalink}/comment-page-0#comment-1">Typecho : 欢迎加入 Typecho 大家族</a></li>
            </div>
        </div>
    </div>
</footer>

<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script>
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 0,
        offset : 70,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }
</script>
</body>
</html>
